<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ask Question</title>
  <link rel="stylesheet" href="/register.css">
</head>
<body>
  <h1>Ask a Question</h1>
  <form action="/askquestion" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Enter your question" required><br>
    <input type="file" name="image" accept="image/*" required><br>
    <textarea name="description" placeholder="Description" cols="35" rows="10" required></textarea><br>
    <input type="submit" value="Post Question">
  </form>
</body>
</html>
